---
title: "Demonstration of Traversal-based Query Processing over the Decentralized Solid Environment"
---
<header markdown="1">
# <%= @item[:title] %>

{:#authors}
- <%= person 'Ruben Taelman', 'https://www.rubensworks.net/', 'https://www.rubensworks.net/#me' %>
- <%= person 'Ruben Verborgh', 'https://ruben.verborgh.org/', 'https://ruben.verborgh.org/profile/#me' %>

{:#affiliations}
- {:#idlab} IDLab,
            Department of Electronics and Information Systems, Ghent University – imec, Ghent, Belgium
			<br /><code>ruben.taelman@ugent.be</code>

</header>

<!-- Hack to make our custom fonts load in print-mode -->
<!-- https://stackoverflow.com/questions/39364259/chrome-print-preview-doesnt-load-media-only-print-font-face -->
<span class='printfont1'> </span>
<span class='printfont2'> </span>
<span class='printfont3'> </span>
<span class='printfont4'> </span>

<div class="double-column">

<%= section 'abstract' %>

<main>
  <!-- Add sections by specifying their file name, excluding the '.md' suffix. -->
  <%= section 'introduction' %>
</main>

<footer></footer>

</div>
